<html>
     <head>
       <script src="https://www.hipchat.com/atlassian-connect/all.js"></script>
       <link href="https://www.hipchat.com/atlassian-connect/all.css" rel="stylesheet">
    </head>
    <body>
        Nothing to configure.
    </body>
</html>
